{{ $ns := printf "%s-%s" $.Values.global.pattern $.Values.clusterGroup.name }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh
data:
  app-config-rhdh.yaml: |
    app:
      title: Red Hat Developer Hub
      baseUrl: https://backstage-developer-hub-{{ .Values.developerhub.namespace }}.apps.{{ .Values.global.clusterDomain }}
    backend:
      auth:
        keys:
          - secret: "${BACKEND_SECRET}"
      baseUrl: https://backstage-developer-hub-{{ .Values.developerhub.namespace }}.apps.{{ .Values.global.clusterDomain }}
      cors:
        origin: https://backstage-developer-hub-{{ .Values.developerhub.namespace }}.apps.{{ .Values.global.clusterDomain }}
    auth:
      environment: development
      allowGuestAccess: true
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true
        github:
          development:
            clientId: ${GH_CLIENT_ID}
            clientSecret: ${GH_CLIENT_SECRET}
    integrations:
      github:
        - host: github.com
          token: ${GH_ACCESS_TOKEN}
    dangerouslyAllowSignInWithoutUserInCatalog: true
    enabled:
      github: true
    argocd:
      appLocatorMethods:
        - type: 'config'
          instances:
            - name: default
              url: https://hub-gitops-server-{{ $ns }}.apps.{{ .Values.global.clusterDomain }}
              username: ${ARGOCD_USERNAME}
              password: ${ARGOCD_PASSWORD}
    kubernetes:
      serviceLocatorMethod:
        type: 'multiTenant'
      clusterLocatorMethods:
        - clusters:
            - authProvider: 'serviceAccount'
              name: openshift
              serviceAccountToken: ${RHDH_TEKTON_SERVICE_ACCOUNT_TOKEN}
              skipTLSVerify: false
              url: https://api.{{ .Values.global.clusterDomain }}:6443
          type: config
      customResources:
        - apiVersion: v1
          group: tekton.dev
          plural: pipelineruns
        - apiVersion: v1
          group: tekton.dev
          plural: taskruns
        - apiVersion: v1
          group: route.openshift.io
          plural: routes
    catalog:
      rules:
        - allow: [Component, System, API, Resource, Location, Template]
      providers:
        kubernetes:
          openshift:
            cluster: openshift
            processor:
              namespaceOverride: default
              defaultOwner: guests
            schedule:
              frequency:
                seconds: 30
              timeout:
                seconds: 5
      locations:
        - type: url
          target: 'https://github.com/redhat-ai-dev/ai-lab-template/blob/release-v0.9.x/all.yaml'
        #- type: url
        #  target: 'https://github.com/WindTurbineInc/software-templates/blob/master/scaffolder-templates/wheres-teddy/template.yaml'
        - type: url
          target: 'https://github.com/mbaldessari/developerhub-agentic-demo/blob/main/template.yaml'
        - type: url
          target: 'https://github.com/redhat-ai-dev/model-catalog-example/blob/v0.1/ollama-model-service/catalog-info.yaml'
        - type: url
          target: 'https://github.com/redhat-ai-dev/model-catalog-example/blob/v0.1/developer-model-service/catalog-info.yaml'
